@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    ul.navbar-nav {
        list-style: none; /* Remove bullets from the list */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
        display: flex; /* Use flexbox for horizontal alignment */
        flex-direction: column; /* Display list items vertically */
    }

    ul.navbar-nav li {
        margin-bottom:0px; /* Adjust the spacing between list items as needed */
    }

    button#logout {
        font-size: 17px; /* Adjust the font size to increase the button size */
        padding: 10px 18px; /* Adjust the padding to increase the button size */
    }

}
</style>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
    </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Combined" asp-action="Combined">Your ads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="YourPurchases" asp-action="Index">Your purchases</a>
            </li>

        }
 
        <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Homepage", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
