@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<style>
    .logo img {
        width: 200px;
        height: auto;
        margin-left: 570px;
    }

    #account {
        max-width: 300px; 
        width: auto;
        margin: 0 auto; 
        border: 1px solid #ccc; 
        border-radius: 10px; 
        padding: 20px; 
        margin-top: 15px; 
    }

        #account h2 {
            font-family: 'Arial', sans-serif;
            font-weight: normal;
            margin-top:5px;

        }

    .form-label {
        font-weight: bold;
        font-family: 'Arial', sans-serif;
    }
    .form-control{
        width: 300px;
        height:30px;
        border-radius: 5px;
    }

    .form-floating.mb-3 {
        margin-bottom: 15px; 
    }

    #login-submit{
        width:300px;
        background-color: rgb(3, 161, 252);
        border: none;
        border-radius: 5px;
        height:30px;
    }
    p{
        font-family: 'Arial', sans-serif;
    }

</style>
<div class="row">
    <div class="col-md-4">
        <section>
            <!-- Logo -->
            <div class="logo" id="logo">
                <a asp-controller="Home" asp-action="Homepage">
                    <img src="~/img/Logo2.png" alt="Your Logo" />
                </a>
            </div>

            <!-- Login Form -->
            <form id="account" method="post">
                <h2>Sign in</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <!-- Email Input Field -->
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <div>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <!-- Password Input Field -->
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <div>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>


                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
