@{
    ViewData["Title"] = "Aboutus";
    Layout = "_layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <title>About Us - ExploreJordan</title>
    <link rel="stylesheet" href="~/css/contactus.css">
</head>
<body>
    <main>
        <div class="banner">
            <img src="~/img/banner.png" alt="Banner Image" style="width: 100%; height: auto; position: relative;">
        </div>
        <section class="contact-section">
            <h2>Contact Us</h2>
            <p>Feel free to reach out to us for any inquiries or assistance.</p>
        </section>
        <div class="contact-container-over-image">
            <div class="contact-box">
                <p>Phone: +123 456 789</p>
                <p>Email: info@explorejordan.com</p>
            </div>

            <div class="contact-box">
                <div class="support-content">
                    <p>Customer support</p>
                    <button class="support-button">
                        <a href="customer_support.html" style="text-decoration: none; color: white;">Contact Us</a>
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>


