@{
    Layout = "_layout"; // Set the layout to "_layout.cshtml"

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiencing Bethany Beyond the Jordan - The Site of Jesus’ Baptism</title>
    <link rel="stylesheet" href="~/css/blog3.css">
</head>
<body>
    <main>
        <article class="blog-post">
            <p class="article-date">November 25, 2021</p>
            <h2 class="article-title">Experiencing Bethany Beyond the Jordan - The Site of Jesus’ Baptism</h2>
            <img src="~/img/blog3.jpg" alt="Article Image">
            <p class="article-content">
            <p>
                Discover the Ecological Diversity of Jordan
            </p>
            <p>
                Day 3: Dana Biosphere Reserve
            </p>
            <p>
                From the Dead Sea, continue your way down south to Dana Biosphere Reserve, an area of staggering beauty, history, and biodiversity. It is the only reserve in Jordan that encompasses the four different biogeographical zones of the country (Mediterranean, Irano-Turanian, Saharo-Arabian and Sudanian), it is a melting pot of species from Europe, Africa and Asia. Such a combination of natural communities in a single area is unique in Jordan and many of the Dana Biosphere Reserve’s animals and rare plants.
            </p>
            <p>
                Overnight in Rummana campsite
            </p>
            <p>
                Exploring the Jewel of Jordan, Petra
            </p>
            <p>
                Day 4: Petra
            </p>
            <p>
                Make your way to Petra, one of Jordan's most renowned national treasures and by far its best-known tourist attraction. Petra is the legacy of the Nabataeans, an industrious Arab people who settled in southern Jordan more than 2,000 years ago. Petra is a UNESCO World Heritage Site and one of the new Seven Wonders of the World. Inhabited by the Nabateans, Edomites, and Romans, Petra brought together the knowledge and skill of these civilizations to create this world wonder.
            </p>
            <p>
                Overnight in Petra
            </p>
            <p>
                A Seaside Escape to Aqaba
            </p>
            <p>
                Day 5: Petra - Aqaba
            </p>
            <p>
                After exploring the fascinating Nabatean City of Petra, continue your Jordanian adventure with a trip to Aqaba. Located on the shores of the Red Sea, Aqaba is Jordan's only outlet to the sea, and is renowned for its excellent diving opportunities, mild winters, sandy beaches, and crystal-clear waters. Spend a full day soaking up the sun and swimming, diving, or simply relaxing on the beach while taking in the stunning flora and fauna of the Red Sea.
            </p>
            <p>
                Overnight in Aqaba
            </p>
            <p>
                Discover the Contrasting Beauty from Beaches to Desert
            </p>
            <p>
                Day 6: Aqaba - Wadi Rum
            </p>
            <p>
                After a day of fun in the sun, head to Wadi Rum, the largest desert in Jordan and a protected area where Sir Lawrence wrote the "Seven Pillars of Wisdom." Here, you can watch the sunset over the stunning desert landscape before enjoying a delicious dinner and an overnight stay in the desert.
            </p>
            <p>
                Overnight in Wadi Rum
            </p>
            <p>
                Exploring the Wonders of Wadi Rum, Madaba, and Mount Nebo
            </p>
            <p>
                Day 7: Wadi Rum - Madaba - Amman
            </p>
            <p>
                Start your day by continuing your exploration of Wadi Rum, the vast desert wilderness and protected area in Jordan. Take in the spectacular scenery and enjoy the peaceful serenity of the desert landscape. After your morning adventure, transfer to the historic city of Madaba, home to the impressive Greek Orthodox Church of St. George. Here, you can marvel at the ancient Mosaic Map of Palestine and the Holy Land, a beautifully crafted artwork made of over 2 million pieces of colored stone. After visiting the church, head to Madaba Archaeological Park, an open-air museum with ruins from the Hellenistic, Roman, Byzantine, and Islamic periods. Finally, drive to Mount Nebo, where you can take in breathtaking panoramic views of the Holy Land and the Dead Sea. Similar to Moses, you will be able to overlook the land from above, and witness the awe-inspiring beauty of the region. Then return back to Amman.
            </p>
            <p>
                Saying Farewell to Jordan with a Visit to As-Salt
            </p>
            <p>
                Day 8: Amman - Salt
            </p>
            <p>
                If you have an evening flight you will have some time to wake up early and head to As-Salt, located northwest of the capital, Amman. The city is built on three mountains and is surrounded by beautiful views. As-Salt was recently added to the UNESCO World Heritage List as "the place of tolerance and urban hospitality," making it the sixth Jordanian landmark to receive this designation.
            </p>
            </p>
        </article>
</body>
</html>
