@{
    Layout = "_layout"; // Set the layout to "_layout.cshtml"

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Lowest Point on Earth with the Highest Level of Wellness & Healing</title>
    <link rel="stylesheet" href="~/css/blog5.css">
</head>
<body>
    <main>
        <article class="blog-post">
            <p class="article-date">January 10, 2023</p>
            <h2 class="article-title">The Lowest Point on Earth with the Highest Level of Wellness & Healing</h2>
            <img src="~/img/blog5.jpg" alt="Article Image">
            <p class="article-content">
            <p>
                Too often, religious sites can become noisy and chaotic tourist traps, which kind of defeats the purpose of a place that supposed to evoke meditative peace, right?
            </p>
            <p>
                Bethany Beyond the Jordan, a peaceful holy site, is a rare exception. A meditative place that is perfect for contemplation, exploration, and learning, this place is a hidden gem in the Holy Land.
            </p>
            <p>
                Read on for more information about the rich history of Bethany Beyond the Jordan, and learn what it’s like to visit it today!
            </p>
            <p>
                Experience the incredible historical and archaeological value of this holy place.
            </p>
            <p>
                Also known as Al-Maghtas, Bethany Beyond the Jordan is a peaceful holy site north of the Dead Sea where John the Baptist is said to have baptized Jesus. Beginning during the Byzantine era, faithful Christians have worshipped here and conducted baptisms of their own. Even today, it is not uncommon for Christians to hold baptisms at this site: Baptism in the same place where Jesus was supposed to have been baptized is an incomparable spiritual experience.
            </p>
            <p>
                The second part of the holy site, Tell Mar Elias, is located nearby. This is the hill from which the prophet Elijah is said to have ascended to heaven, and here it is possible to explore the archaeological site of a Byzantine monastery, as well as various chapels and caves. Tell Mar Elias is marked by a church honoring Elijah.
            </p>
            <p>
                Because of its religious and historical value, Bethany Beyond the Jordan was designated a UNESCO World Heritage Site in 2015. The incredible archaeological ruins, ancient churches, and baptismal pools that you’ll find here are testament to the significance of the site.
            </p>
            <p>
                Make a meaningful religious pilgrimage.
            </p>
            <p>
                Bethany Beyond the Jordan is only an hour’s drive from Amman, yet it somehow seems ages away from the chaotic bustle of the city. The site is kept and maintained as a wilderness area, meaning that the quiet peace that you’ll experience on the banks of the Jordan River makes it a beautiful place to reflect and pray.
            </p>
            <p>
                Surrounded by the pools in which early Christians conducted baptisms and the calm, quiet caves in which monks and hermits worshipped, it’s easy to appreciate the stunning spirituality of this holy place. In visiting Al-Maghtas and Tell Mar Elias, you will experience firsthand the religious authenticity of the amazing ruins that you’ll find here.
            </p>
            <p>
                Organized tours and knowledgeable local guides are readily available at Bethany Beyond the Jordan.
            </p>
            <p>
                Although Bethany Beyond the Jordan is easy to reach by bus or taxi, there are also numerous organized tours that you can take to ensure that you get the most out of your experience.
            </p>
            <p>
                For instance, <a href="tourlink.html">this private tour</a> includes transportation and entrance fees, as well as the services of a local guide who will show you around the baptismal site and the archaeological ruins. There is even an option to visit nearby ancient caves as well.
            </p>
            <p>
                Bethany Beyond the Jordan is only one of many incredible religious biblical sites that you can experience during your time in Jordan. To read more in-depth information on other holy sites in this country, download our Guide to Religion and Faith!
            </p>
            </p>
        </article>
</body>
</html>
