@{
    Layout = "_layout"; // Set the layout to "_layout.cshtml"

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>As-Salt, Jordan Listed on UNESCO World Heritage List</title>
    <link rel="stylesheet" href="~/css/blog2.css">
</head>
<body>
    <main>
        <article class="blog-post">
            <p class="article-date">April 11, 2022</p>
            <h2 class="article-title">As-Salt, Jordan Listed on UNESCO World Heritage List</h2>
            <img src="~/img/blog2.png" alt="Article Image">
            <p class="article-content">
            <p>The United Nations Educational, Scientific and Cultural Organization (UNESCO) listed the historic Jordanian city of As-Salt on the World Heritage List as “the city of tolerance and civilized hospitality.”</p>

            <p>Built on three hills in the kingdom’s west-central region, As-Salt was a vital trading center between the eastern desert and the west during the late Ottoman period, attracting many merchants, tradespeople, and craftsmen from different parts of the region who settled and worked in trading, banking, architecture, and farming jobs. Their impact and contributions to the city helped Salt flourish, grow, and develop into the place it is today.</p>

            <p>According to UNESCO, the city’s urban center includes about 650 important historic buildings that reflect a combination of European Art Nouveau and Neo-Colonial styles as well as local traditions and customs.</p>

            <p>“The historic center of Salt demonstrates distinctive intercultural exchanges that resulted in transformations of the Levant in the late Ottoman period, which included flows of culture, people, skills, traditions, and wealth within and between the cities of the region and beyond, and between diverse cultural and religious groups that comprised the urban population from the city’s ‘Golden Age’ to the present,” UNESCO states.</p>

            <p>Salt is the first urban city in Jordan to be added to the World Heritage List; however, it now becomes the sixth Jordanian landmark to be declared a World Heritage Site. Other Jordanian sites that are listed include, Petra, Quseir Amra, Umm er-Rasas, Wadi Rum Protected Area, and the Baptism Site of Jesus Christ. Only a 30-minute drive from Jordan’s capital city of Amman, a day-trip to Salt will certainly be worth it.</p>

            <p>Here is a round-up of some of the top places to visit and activities to partake in during a trip to Salt.</p>

            <p>
                1. **As-Salt Archeological Museum**
                Established in the 1900s, the museum is located in one of the historic heritage houses of the city, Beit Toukan, which translates to “toukan house.” The museum includes artifacts and items from the Roman, Byzantine, and Islamic eras.
            </p>

            <p>
                2. **Traditional Henna Experience**
                The Salt Development Corporation (SDC), a non-profit, non-government organization that focuses on tourism infrastructure provides Henna-learning and drawing experiences for the entire family.
            </p>

            <p>
                3. **Al-Hammam Street**
                Named after a Turkish bath, the Al-Hammam Street is the main traditional market street in the city offering pedestrians an opportunity to stroll, shop local products, and enjoy the ancient architecture of As-Salt.
            </p>

            <p>
                4. **St. George Orthodox Church/Al-Khader Church**
                Built in the 1600s in a cave, the St. George Church is one of the oldest and most visited churches in the city that welcomes both Muslim and Christian worshipers to pray. The church was renovated in 2004.
            </p>

            <p>
                5. **Pottery Making**
                The Salt Development Corporation offers visitors to Salt an opportunity to learn about the process of producing handmade pottery and design their own pottery souvenirs.
            </p>

            <p>For more information about visiting Salt and activities one can plan, please visit: [Explore As-Salt](http://www.visitas-salt.com/en)</p>

            <p>Written by Leen Hajjar</p>
            </p>
        </article>
</body>
</html>
