@{
    Layout = "_layout"; // Set the layout to "_layout.cshtml"

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In Jordan, to Grandmother’s House We Go</title>
    <link rel="stylesheet" href="~/css/blog4.css">
</head>
<body>
    <main>
        <article class="blog-post">
            <p class="article-date">November 17, 2023</p>
            <h2 class="article-title">In Jordan, to Grandmother’s House We Go</h2>
            <img src="~/img/blog4.jpg" alt="Article Image">
            <p class="article-content">
            <p>
                How three sisters are using their grandmother’s old recipes to inspire real change in the Jordanian capital of Amman.
            </p>
            <p>
                The noise hits you as soon as you enter the souk: a cacophony of male voices, singing the succulent merits of their wares. Juicy tomatoes; plump eggplants; buxom bulbs of garlic. Every vegetable has its own “selling song” here in the Jordanian capital of Amman, and they’re all being chanted at full, throaty volume in the bustling marketplace, like a gravelly garden symphony.
            </p>
            <p>
                Gliding through this boisterous melee in Souk el-Khodra—the city’s historic fruit and vegetable market—is Maria Haddad, who moves with all the effortless elan of a local, while appraising the produce with the eye of a professional chef.
            </p>
            <p>
                It’s a common Middle Eastern adage that Amman—which dates back to 5000 B.C.E.—is an old city with a warm heart. And in many ways, Beit Sitti is the perfect encapsulation of that welcoming.
            </p>
            <p>
                “We have a motto here: Cooking breaks barriers,” Maria says. “When you’re cooking with someone else, you automatically start talking to them, and any awkwardness evaporates. The most important thing about Beit Sitti is not learning a new recipe—it’s building a human connection. Maybe that’s what our grandmother was trying to teach us all along.”
            </p>
            <p>
                Cooking classes at Beit Sitti take place seven days a week, costing $70 per couple or $140 for one-on-one cooking lessons. For more, or to book, visit beitsitti.com.
            </p>
            </p>
        </article>
</body>
</html>
