@{
    Layout = "_layout"; // Set the layout to "_layout.cshtml"

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>article-title">Hiking the Jordan Trail changed my life – and I’m not alone</title>
    <link rel="stylesheet" href="~/css/blog1.css">
</head>
<body>
    <main>
        <article class="blog-post">
            <p class="article-date">November 16, 2023</p>
            <h2 class="article-title">Hiking the Jordan Trail changed my life – and I’m not alone</h2>
            <img src="~/img/blog1.jpg" alt="Article Image">
            <p class="article-content">
            <p>From half-day hikes to the full 675-km path, the Jordan Trail is an amazing – and sustainable – outdoor adventure</p>
            <p>Back in 2017, I thru-hiked the Jordan Trail. On a map, the long and squiggly line links the country’s northern border with the Red Sea. In real life, my 675-km walk took me through rustling olive groves, down into steep wadis, past remote Bedouin camps, and up and over mountains that were first described in the Book of Deuteronomy. I hiked into the labyrinth of stone ruins at Petra, then across the wide-open red deserts of Wadi Rum, where I slept under an astonishing sky of stars. I completed the trail in 40 days and returned home a changed person.</p>
            <p>Since the Jordan Trail first opened in 2017, hundreds have completed the same thru-hike. A few athletes have run the full cross-country course – the current record is 8 days, 9 hours and 28 minutes – while thousands more hikers have walked any of the eight separate trail sections, each offering unique highlights and scenery.</p>
            <p>As the trail approaches its 7th anniversary, I returned to Jordan, nostalgic for a hike. </p>
            <p>I asked my friends what was new, and they pointed me toward a remapped 23-kilometre section connecting the 2,000-year-old Greek palace ruins at Iraq Al Amir to the ancient Christian churches of As-Salt. So I grabbed a day pack and head to the far outskirts of Amman, where I spent the night at the Iraq Al Amir Women’s Cooperative. One of a dozen enterprises on the Meaningful Travel Map of Jordan, the women’s co-operative trains and employs local women in making and selling handicrafts and running a hostel for hikers. That night I ate my fill of chicken and rice, then dropped off to sleep in a comfortably-refurbished stable that dates back to the Ottoman period.</p>
            <p>The next morning, I laced up my boots and then went out to meet my Jordanian trail guide, Lama Hamdan.</p>
            <p>“Lim Lim!” I shouted, embracing my old friend and using her trail name. “Sheikh Nawaf!” she called back to me with a nickname I had not heard in years. We head off early to beat the warm sun. For the first five hundred metres, I made big bold strides, feeling overly confident because I had already thru-hiked the trail.</p>
            <p>“Shwaya, shwaya,” Lama gently reminded me in Arabic to take it slow, step by step. “We’re hiking uphill this time!” Indeed, when I first hiked the trail, I had hiked this section downhill in early spring. Now I was hiking uphill and into the full heat of the sun. Listening to my friend, I shed my bravado and began matching my steps to my breath. I began sweating and removed an outer layer, then sipped some water, and settled into the steady pace of trail hiking.</p>
            <p>The mountain landscape resembled a crumpled blanket, with deep folds of terraced limestone scrubby slopes where black and white sheep grazed. After cresting our first hill and descending the next, we began chatting, comparing notes – how had thru-hiking the Jordan Trail changed us?</p>
            <p>“I deleted my Facebook account,” I answered, but that was a small thing. After forty days spent living outdoors on the trail – breathing fresh air and camping under the stars – I realized that I needed more nature in my life. Within a year I had ditched my apartment in the city and moved 100 kilometres away, to a place where black bears roam my yard and I can see the stars at night.</p>
            <p>“Black bears? Really?” asked Lama, so I showed her the pictures on my phone. Then she pulled out her phone and swiped through hundreds of scenes from the trail that is now her home. When I first met Lama, she worked as a graphic designer in Amman. Like me, after hiking the Jordan Trail, she decided she wanted to spend more time in nature. Lama quit her job and went back to school, passing her national exam and becoming the first woman to certify as an official guide on the Jordan Trail. She now works full-time as a guide, leading guests across Jordan on foot.</p>
            <p>“Don’t be afraid to change your life and follow your dream, " Lama told me. “That’s what the Jordan Trail taught me.”</p>
            <p>Written by Andrew Evans a freelance travel journalist and author</p>
            </p>
        </article>
</body>
</html>
